<!DOCTYPE HTML>
<html>
  <head> 
    <meta charset="utf-8"> 
    <title>Time Attack</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  
  </head>

<body>

<header>
<ul>
    <li><a href="">Menu</a></li>
    <li><a href="">About</a></li>
    <li><a href="">How to start</a></li>
    <li style="float:right"><img src="/images/rtrlogo2.png" alt="logo"/></li>
    <li style="float:right"><img src="/images/rtrlogo2.png" alt="logo"/></li>
</ul>
</header>

<h1 style="text-align:center"><i><%= main %></i></h1>
<div class="center">
  <img src="/images/car1.jpg" alt="honda civic">

  <h2><%= title %></h2>
<a class="btn" href="http://www.worldtimeattack.com/index.php/so-you-want-to-go-time-attack-racing/">Original Source</a>

  <p><b><%= text %></p>
</div>

<footer>
  <p><strong>&copy;</strong> 2018</p>
</footer>

</body>
</html>